<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let img of imagesObject">
      <div class="card">
        <img
          [src]="img.imgLink"
          class="card-img-top"
          alt="user_img"
          (click)="openPopUp(img)"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  *ngIf="show"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalImg.name }}</h4>
        <button
          class="btn-close d-flex justify-content-end"
          (click)="closePopup()"
        ></button>
      </div>
      <div class="modal-body">
        <img [src]="modalImg.imgLink" class="card-img-top" alt="" />
        <div style="margin-top: 10px">
          <p>{{ modalImg.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
