<div class="searchbox">
  <textarea
    type="textarea"
    placeholder="Pick User"
    class="form-control"
    [formControl]="autocompleteControl"
    id="inputBox"
    matInput
    [matAutocomplete]="auto"
  >
  </textarea>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let item of filteredItems | async"
      [value]="item.username"
    >
      <div class="option-row">
        <div>{{ item.username }}</div>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
<div class="card mb-3" style="min-width: 90% ; margin:20px">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="./assets/images/space_img.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title">Our Bussiness</h4>
        <p class="card-text">The XYZ Company, together with its subsidiaries and affiliates, is a leading diversified international family entertainment and media enterprise that includes three core business segments: XYZ Entertainment, XYZ SPORTS , and XYZ Parks, Experiences and Products.</p>
      </div>
      <div class="card-body">
        <h4 class="card-title">Our Purpose</h4>
        <p class="card-text">At XYZ , we are committed to creating a better world. A world of belonging where each person feels seen, heard, and understood. A world in balance where people and wildlife thrive. A world filled with hope and promise. Explore our commitments and our work to create a better world through our stories, experiences, operations, and philanthropy.</p>
      </div>
      <div class="card-body">
        <h4 class="card-title">Operating Responsibly</h4>
        <p class="card-text">Throughout the years, we have earned the trust of guests, audiences, consumers, shareholders, and business partners because of our commitment to high standards in everything we do, everywhere we operate. Integrity, honesty, trust, respect, playing by the rules, and teamwork—these define not only the operating principles of The XYZ Company, but also the spirit of our diverse global workforce and how we function.</p>
      </div>
    </div>
  </div>
</div>

